# Environment
.env
.venv/

# Python
__pycache__/
*.pyc
.pytest_cache/

# VS Code
.vscode/

# Django
media/
staticfiles/

# Model caches
.hf_cache/
.tiktoken_cache/

# Certificates
certs/

# Conversation Settings
CONVERSATION_HISTORY_WINDOW=3